.only-you-wrap .title{
    margin-bottom: 0;
}
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /* padding: 0px 40px; */
}

.only-tab-list{
    display: flex;
    gap: 10px;
}
.only-tab-list li a{
    display: block;
    padding: 12px 20px;
    border: 1px solid #092729;
    border-radius: 30px;
    font-size: 1.13rem;
}
.only-tab-list li a:hover{
    background: #ddd;
}
.only-tab-list li.active a{
    background: #092729;
    color: #fff;
    font-weight: 600;
}

.only-slider-list{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.only-slider-list>div{
    position: relative;
    /* border: 1px solid blue; */
    padding: 2% 0;
    border-radius: 40px 40px 0px 40px;
    overflow: hidden;
    background: #fff;
}
.only-slider-list>div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.only-slider>div .hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}
.only-slider>div:hover .hover-img{
    opacity: 1;
}
.only-slider-list>div .text-box{
    position: absolute;
    bottom: 50px;
    /* left: 50%;
    transform: translateX(-50%); */
    font-size: 1.13rem;
    font-weight: 500;
    /* background-color: rgba(0, 0, 255, 0.1); */
    width: 100%;
    text-align: center;
    transition: 0.2s;
}
.only-slider-list>div:hover .text-box{
    color: #fff;
}

.only-slider-list>div .radius{
    width: 75px;
    height: 75px;
    background: #fff;
    border-radius: 40px 0 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.only-slider-list>div .radius::before{
    content: "";
    display: block;
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: -80px;
    bottom: 0;
    box-shadow: 40px 40px 0 #fff;
}
.only-slider-list>div .radius::after{
    content: "";
    display: block;
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    right: 0;
    box-shadow: 40px 40px 0 #fff;
}

.only-slider-list>div::after{
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #092729 url(../images/arrow-right-white.svg) no-repeat center center;
    z-index: 1000;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: 0.3s;
}
.only-slider-list>div:hover::after{
    right: 0;
    bottom: 0;

}