.inner{
    max-width: 1600px;
    padding: 20px 40px;
    margin: 0 auto;
    background: rgba(255, 0, 0, 0.1);
}
.title{
    font-size: 60px;
    font-weight: 700;
}
.inner .title-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.inner .only-tab-list{
    display: flex;
    gap: 15px;
    align-items: center;
}
.only-tab-list>li>a{
    display: block;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 36px;
}

.only-slider-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.only-slider-list .only-slider{
    background: #fff;
    border-radius: 30px;
    position: relative;
}
.only-slider-list .img-box>img{
    width: 315px;
}
.only-slider-list>.only-slider>.img-box{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.only-slider-list .img-box .hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}
.only-slider-list>.only-slider:hover .hover-img{
    opacity: 1;

}
.only-slider .text-box{
    padding: 20px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}


.only-slider-list .only-slider:hover{

}