/* 1280px 이하 */
@media screen and (max-width: 1280px){
    .inner{
        padding: 0 20px;
    }
    .main-menu{
        gap: 3rem;
    }
    .gnb{
        gap: 1.5rem;
    }
    section .title{
        font-size: 3rem;
    }
    .only-tab-list li a{
        padding: 0.9rem 1rem;
    }
}

/* 1024px 이하 */
@media screen and (max-width:1024px){
    /* 기본 글자 크기 14px */
    html{
        font-size: 14px;
    }
    /* 1. 제거하기 */
    .main-menu,
    .m-hide{
        display: none !important;
    }
    /* 2. 보이기 */
    .ham-btn{
        display: block;
    }
    /* 3. 100% 만들기 */


    /* footer의 footer-left와 footer-right를 다른줄로 변경 / flex취소하기 */
    footer .inner{
        display: block;
        padding: 3rem 20px;
    }

    .footer-right .sns-list{
        justify-content: flex-start;
        margin-top: 1.5rem;
    }
    .footer-right .footer-menu{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}


/* 768px 이하 */
@media screen and (max-width:768px) {
    /* 기본 글자 크기 12px */
    html{
        font-size: 12px;
    }
    /* header .inner 줄간격 */
    header .inner{
        line-height: 56px;
    }
    /* logo 크기 */
    .logo img{
        width: 110px;
    }
    /* 햄버튼 크기 줄이기 */
    .ham-btn img{
        width: 24px;
    }
}